.section {
    margin-top: 55px;
}

.section p {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.main {
    display: flex;
    max-width: 920px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 55px;
}

.left.sidebar {
    flex: 1;
    padding-right: 65px;
}

.year {
    padding-bottom: 55px;
    padding-top: 55px;
}

.year input[type="text"] {
    width: 25px;
    border-bottom: 1px solid;
}

.loan {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.div {
    border-bottom: 1px solid;
}
.interest input[type="text"] {
    width: 42px;
}

.loan h2 {
    color: #00334E;
    font-family: "Titillium Web",sans-serif;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    opacity: .5;
    text-transform: uppercase;

}

.comun input {
    width: 100px;
}


input[type="text"] {
    text-align: end;
    border: 0px solid;
    font-weight: 500;
    outline: none;
    font-size: 18px;
}

.comun {
    border-bottom: 1px solid ;
}

.comun span {
    color: #00334E;
    font-size: 15px;
   
}

input[type="range"] {
        width: 100%;
}

.right.sidebar {
    width: 200px;
}

.right .label {
    color: #00334e;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 25px;
}

.right .value {
    color: #00334e;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    padding-left: 8px;
    line-height: 0;
}

.right .amount {
    margin-bottom: 44px;
}

.right .currency {
    font-size: 12px;
    position: absolute;
    top: -3px;
    left: 0;
}

.right .emi .currency {
    top: -8px;
}

.right .emi .value {
    color: #e6a127;
    font-size: 42px;
}

.bot {
    display: flex;
    color: #000000;
    font-size: 12px;
    justify-content: space-between;
}

.rag {
    display: flex;
    color: #000000;
    font-size: 12px;
    justify-content: space-between;
}

.rang {
    display: flex;
    color: #000000;
    font-size: 12px;
    justify-content: space-between;
}

.principle {
    color: #7cb5ec;
}



/* graph */

.highcharts-figure,
.highcharts-data-table table {
    
    margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}

